<a href="/login">
    <button>Iniciar Sesion</button>
</a>
<h1>MUSICTUNE</h1>

<a href="/usuario/crear-usuario">
    <button>Registrar</button>
</a>

<p>¿No tienes una cuenta?</p>
<p>Puedes regitrarte aquí</p>