
<h1>Ingresa tus credenciales</h1>


<form action="/login" method="post">
    <div>
        <label for="correo">Usuario</label>
        <input id="correo" type="text" name="correo">
    </div>
    <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
    </div>

    <button>Login</button>
    </div>

</form>

<a href="/usuario/crear-usuario">
    <button>Registrar</button>
</a>

<p>¿No tienes una cuenta?</p>
<p>Puedes regitrarte aquí</p>
